[Unit]
Description=Noctalia Shell - Wayland Desktop Shell
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/noctalia-shell
Restart=on-failure
RestartSec=3
Environment=QT_QPA_PLATFORM=wayland

[Install]
WantedBy=graphical-session.target
