[Unit]
Description=z13ctl control socket

[Socket]
ListenStream=%t/z13ctl/z13ctl.sock
SocketMode=0660
DirectoryMode=0750

[Install]
WantedBy=sockets.target
